aiohappyeyeballs==2.6.1
aiohttp==3.12.4
aiosignal==1.3.2
appnope==0.1.4
asttokens==3.0.0
async-timeout==5.0.1
atlasopenmagic==0.6.0
attrs==25.3.0
awkward==2.6.8
awkward_cpp==38
bokeh==3.4.2
boost-histogram==1.5.2
Brotli==1.1.0
cabinetry==0.6.0
cachetools==6.0.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cramjam==2.10.0
cycler==0.12.1
cytoolz==1.0.1
dask==2024.8.0
dask-awkward==2025.5.0
dask-expr==1.1.10
dask-histogram==2025.2.0
debugpy==1.8.14
decorator==5.2.1
distributed==2024.8.0
exceptiongroup==1.3.0
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.58.1
frozenlist==1.6.0
fsspec==2025.5.1
h2==4.2.0
hist==2.8.1
histoprint==2.6.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
iminuit==2.31.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.7
llvmlite==0.43.0
locket==1.0.0
lz4==4.4.4
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
ml-dtypes==0.5.1
mplhep==0.3.59
mplhep_data==0.0.4
msgpack==1.1.0
multidict==6.4.4
munkres==1.1.4
nest_asyncio==1.6.0
numba==0.60.0
numexpr==2.10.2
numpy==2.0.2
opt_einsum==3.4.0
packaging==25.0
pandas==2.2.3
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.2.1
pip==25.1.1
pkgutil_resolve_name==1.3.10
platformdirs==4.3.8
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pyarrow-hotfix==0.7
pycparser==2.22
Pygments==2.19.1
pyhf==0.7.6
pyparsing==3.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
scipy==1.13.1
setuptools==80.8.0
six==1.17.0
sortedcontainers==2.4.0
stack_data==0.6.3
tabulate==0.9.0
tblib==3.1.0
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2025.2
uhi==0.5.0
unicodedata2==16.0.0
uproot==5.6.2
urllib3==2.4.0
vector==1.6.2
wcwidth==0.2.13
wheel==0.45.1
xxhash==3.5.0
xyzservices==2025.4.0
yarl==1.20.0
zict==3.0.0
zipp==3.22.0
zstandard==0.23.0
